main{
    width: 100%;
    height: 900px;
}
nav{
    width:15%;
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    float: left;
    height: 100%;
    /*position: fixed;*/
}

ul{
    list-style: none;
    padding: 20px 0px 0px 0px;
    line-height: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width:84%;
    float: left;
}

.addBar{
    text-align: center;
    margin: 0 auto; 
    width: 100%;
    /* display: none; */
}

.addBar input[type="text"]{
    width: 25%;
}

.empInfo{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    width: 49%;
}