main{
    width:100%;
}
nav{
    display: inline-block;
    width:15%;
    background-color: #2d2d2d;
    color: white;
    text-align: center;
}

ul{
    list-style: none;
    padding: 20px 0px 0px 0px;
    line-height: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width:84%;
    display: inline-block
}

.addBar{
    display: inline;
}