main{
    width: 100%;
    height: 900px;
}
nav{
    width:20%;
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    display:inline-block;
    height: 100%;
    position: fixed;
    padding: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    line-height: 3em;
    font-family: 'Fjalla One', sans-serif;
    font-size: 26px;
}

.content{
    width:79%;
    float: left;
}

#addBar, #searchBar{
    text-align: center;
    margin: 0 auto; 
    width: 100%;
    /* display: none; */
}

#addBar input[type="text"]{
    width: 25%;
}

#searchBar input[type="search"]{
    width: 40%;
}

.empInfo{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    width: 49%;
}

.column{
    width:20%;
    background-color: white;
    color: white;
    text-align: center;
    float: left;
    height: 100%;
    /* position: fixed; */
}

.hide{
    display:none;
}

.navbar{
    display: inline-block;
    width: 100%;
}
.navbar:hover{
    background-color: white;
    color: black;
}